.blog {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2em;
    padding: 16px;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six";
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.card-image {
    display: block;
    box-sizing: inherit;
    width: 100%;
}

.card-title {
    display: block;
    font-size: 1.5rem;
    box-sizing: inherit;
    text-decoration: none;
    transition: 0.5s;
    color: #333333;
    padding: .5rem 1rem 0 1rem;
    font-weight: bold;
}

.card-text {
    display: block;
    box-sizing: inherit;
    padding: 0 1rem .5rem 1rem;
}


#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

/* Media Query min 768px*/

@media (min-width: 768px) {
    .blog {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 2em;
        padding: 16px;
        grid-template-areas:
            "one two"
            "three four"
            "five six";
    }
}

/* Media Query min 1024px*/

@media (min-width: 1024px) {
    .blog {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 2em;
        padding: 16px;
        grid-template-areas:
            "one two three"
            "four five six";
    }
}
