.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 3px solid blue;
}

.header-title{
    font-size: 2.5em;
    font-weight: bold;
    padding-left: 15px;
    border: 3px solid blue;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 3px solid blue;
}

.nav-menu-ul {
    display: inline-flex;
    list-style: none;
    justify-content: flex-end;
    border: 3px solid blue;
}

.nav-menu-li {
    padding-right: 2vw;
    transition: all .3s ease-in-out;
    font-weight: bold;
    border: 3px solid blue;
}