.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid #DBDBDB;
}

.header-title h1{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 15px;
    line-height: 1.5;
    color: #333333;
}

.header a {
    text-decoration: none;
    color: inherit;
}


.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu-ul {
    display: inline-flex;
    list-style: none;
    justify-content: flex-start;
    margin: 0;
}

.nav-menu-li {
    padding: 0.5rem;
    transition: all .3s ease-in-out;
    font-size: 22px;
    text-align: center;
}

.nav-menu-li:hover {
    background-color: #DBDBDB;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.nav-menu-socialmedia ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

}

.nav-menu-socialmedia ul li {
    display: inline-block;
    padding: 0.5rem;

}

.nav-menu-socialmedia ul li:hover {
    background-color: #DBDBDB;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}

.nav-menu-socialmedia ul li a{
    color: #515151;
    font-size: 22px;

}