body {
    background-color: #D9D9D9;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #164659;
}

.header, .about, .subscribe, .footer {
    border: 1px solid #164659;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
}

.header-title {
    color: #D9D9D9;
    font-size: 2.5em;
    font-weight: bold;
    padding-left: 15px;
}

.header-nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-ul {
    display: inline-flex;
    list-style: none;
    justify-content: flex-end;
}

.header-li {
    padding-right: 2vw;
    transition: all .3s ease-in-out;
    color: #D9D9D9;
    font-weight: bold;
}

.about {
    display: grid;
    grid-template-columns: 300px 300px;
}

.about-intro {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    text-align: center;
    border: 2px solid red;
}

.about-li {
    display: inline-flex;
    list-style: none;
    justify-content: center;
    padding-left: 2vw;
    border: 2px solid red;
}

.about-img {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
    font-size: .75rem;
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: .2em;
}

.blog {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #164659;
}

#one {
    grid-area: one;   
}

#two {
    grid-area: two;   
}

#three {
    grid-area: three;   
}

#four {
    grid-area: four;   
}

#five {
    grid-area: five;   
}

#six {
    grid-area: six;   
}