.sidebar {
    border-bottom: 2px solid #DBDBDB;
    margin-top: 1rem;
}

.author-img {
    border: 3px solid #DBDBDB;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto 10px;
}

.author-img:hover {
    border: 3px solid #60BFBF;
    background-color: #F2F2F2;
}

.author-name {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.sidebar p {
    font-size: 16px;
    margin: 10px;
    border: 3px solid green;
    text-align: center;
}