.sidebar {
    box-sizing: border-box;
    border-bottom: 2px solid #DBDBDB;
}

.sidebar-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    justify-content: center;
}

.title-prose {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.author-img {
    box-sizing: border-box;
    border: 3px solid #DBDBDB;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.author-img:hover {
    border: 3px solid #60BFBF;
    background-color: #F2F2F2;
}

.author-name {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.sidebar p {
    font-size: 1.2rem;
    margin: 10px;
    line-height: 1.75;
}

/* Media Queries*/

@media (min-width: 768px) {

    .sidebar-content {
        width: 66%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: center;
    }

    .author-img {
        margin-right: 2rem;
    }
}
